*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 65, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
    min-width:90%;
    min-height:70vh;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

table{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}
th{
    background-color:rgb(3, 3, 54);
    color:white;
    font-size: 1rem;
}
td{
    font-size:.8rem;
}
th,td{
    padding: .6rem;
}

/* table tr:third-child, */
table tr:nth-child(even){
    background-color:rgb(197, 194, 194);
}
.entry{
    margin: .5rem;
    padding: .5rem;
    border-radius:5px;
}
.entry input{
    padding: .3rem;
}
.btn{
    padding: .5rem;
    color: white;
    border:none;
    border-radius:5px;
    transition: all .2s ease-in-out;
}
.btn-add{
    background-color: black;
}
.btn-add:hover{
    background-color:blue;
    /* padding: .7rem; */
}
.btn-delete{
    background-color: rgb(219, 0, 0);
}
.btn-delete:hover{
    background-color:rgb(250, 80, 37);
    /* padding:.6rem; */
}
.btn-edit{
    background-color:rgb(45, 126, 8);
}
.btn-edit:hover{
    background-color:rgb(3, 170, 3);
}
.btn-cancel{
    background-color:rgb(80, 82, 80);
}
.container h1{
    background-color:rgb(255, 255, 255);
    padding: .5rem;
    border-radius:5px;
    margin: .5rem;
}